*:not(button) {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
}

.container {
  color: white;
  padding-left: 15px;
  padding-right: 10px;
  .box1 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    .save-btn {
      width: fit-content;
      margin-bottom: 4px;
    }
    .tabs-div {
      display: flex;
      flex-wrap: wrap;
    }
    .new-tab-btn {
      width: 100px;
      background-color: var(--lion);
      color: var(--cream);
      border: 1px solid var(--cream);
      &::selection {
        color: var(--coffee);
      }
      &:hover {
        background-color: var(--cream);
        color: var(--coffee);
      }
    }
  }
}

.shared-notes-btn {
  margin-left: 10px;
  background-color: var(--cream);
  font-size: 16px;
  transition: 0.2s;
  &:hover {
    background-color: #e4e7b6;
  }
  &::selection {
    color: var(--coffee);
  }
}

.current-tab {
  width: 100px;
  height: 40px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  background-color: var(--coffee);
  color: white;
  box-shadow: 20px 20px 20px #00000021;
  transition: 0.4s;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
  user-select: none;         /* Standard */
  &::selection {
    background-color: var(--cream);
    color: var(--coffee);
  }
  .x-icon {
    display: none;
    width: 20px;
    transition: 0.2s;
    &:hover {
      scale: 1.1;
    }
  }
}

.highlight {
  scale: 1.1;
  background-color: var(--cream);
  color: var(--coffee);
  animation: 0.4s linear select-tab;
  .x-icon {
    display: block;
  }
  &:hover {
    background-color: var(--cream);
    color: var(--coffee);
  }
}

@keyframes select-tab {
  25% {
    rotate: 4deg;
  }
  50% {
    rotate: -3deg;
  }
  75% {
    rotate: 3deg;
  }
}

.pencil-icon {
  width: 20px;
  rotate: 40deg;
  &::selection {
    color: black;
  }
}

.tip {
  font-size: 0.75rem;
  &::selection {
    color: var(--coffee);
  }
}

textarea {
  margin-top: 20px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: var(--coffee);
  color: white;
  width: 87vw;
  height: 80vh;
  caret-color: var(--cream);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.215);
  font-size: 16px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.666);
  &::selection {
    background-color: var(--cream);
    color: var(--coffee);
    text-shadow: 0px 0px 0px black;
  }
}

.spinner-container {
  width: fit-content;
  margin-top: 20px;
  height: 20px;
  div {
    &::selection {
      color: var(--coffee);
    }
  }
}

.spinner {
  border: 4px solid var(--cream);
  border-left-color: var(--lion); /* Spinner color */
  border-radius: 50%;
  width: 10px; /* Spinner size */
  height: 10px; /* Spinner size */
  animation: spin 1s linear infinite; /* Spin animation */
  opacity: 0.5;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.test-btn {
  width: fit-content;
}

/////////////////////////////////////////////////////////////

@media screen and (min-width: 768px) {
  button.current-tab {
    &:hover:not(.highlight) {
      background-color: var(--lion);
      color: var(--coffee);
      .x-icon {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .shared-notes-btn {
    &:hover {
      background-color: var(--cream);
    }
  }
}

@media screen and (max-width: 500px) {
  textarea {
    width: 85vw;
  }
}

@media screen and (max-width: 380px) {
  textarea {
    width: 80vw;
  }
}
