<app-top-bar></app-top-bar>
<div class="container">
  <button (click)="saveStateToDB()">save to DB</button>
  <button (click)="getStateFromDB()">get state</button>
  <div class="box1">
    <p class="tip">(Double click tab to rename)</p>
    <div class="tabs-div">
      @for (tab of tabs; track tab; let i = $index) {
      <button
        class="current-tab"
        [ngClass]="{ highlight: currentSelectedIndex === i }"
        (click)="currentSelectedIndex = i"
        [value]="i"
      >
        {{ tabs[i].tabName }}
        <span
          ><img
            class="pencil-icon"
            [hidden]="tabs[i].value.length === 0"
            src="../../../../pencil.svg"
            alt="pencil"
        /></span>
        <span
          ><img
            class="x-icon"
            src="../../../../x1.png"
            alt="delete tab icon"
            (click)="deleteTab(i, $event)"
        /></span>
      </button>
      }
      <button class="new-tab-btn" (click)="newTab()">+</button>
    </div>
    <!-- @for (tab of tabs; track tab; let i = $index) {
    <app-textbox
      [hidden]="i != currentSelectedIndex"
      [index]="i"
      [valueFromParent]="this.tabs[i].value"
    ></app-textbox>
    } -->
    @for (tab of tabs; track tab; let i = $index) {
    <textarea [hidden]="i !== currentSelectedIndex" id="textarea{{i}}" [(ngModel)]="tabs[i].value"></textarea>
    }
  </div>
</div>
