<app-top-bar></app-top-bar>
<div class="container">
  <div class="box1">
    @if (isMobile) {
      <p class="tip">(Long tap tab to rename)</p>
    } @else {
      <p class="tip">(Double click tab to rename)</p>
    }
    <div class="tabs-div">
      @for (tab of tabs; track tab; let i = $index) {
      <button
        class="current-tab"
        [ngClass]="{ highlight: currentSelectedIndex === i }"
        (click)="currentSelectedIndex = i"
        [value]="i"
      >
        {{ tabs[i].tabName }}
        <span
          ><img
            class="pencil-icon"
            [hidden]="tabs[i].value.length === 0"
            src="../../../../pencil.svg"
            alt="pencil"
        /></span>
        <span
          ><img
            class="x-icon"
            src="../../../../x1.png"
            alt="delete tab icon"
            (click)="deleteTab(i, $event)"
        /></span>
      </button>
      }
      <button class="new-tab-btn" (click)="newTab()">+</button>
      <button class="shared-notes-btn" (click)="goToSharedNotes()">Shared Notes --></button>
    </div>
    <div class="spinner-container">
      <div [hidden]="!sendingState" class="spinner"></div>
      <div [hidden]="sendingState">Up to date</div>
    </div>
    @for (tab of tabs; track tab; let i = $index) {
    <textarea
      [hidden]="i !== currentSelectedIndex"
      id="textarea{{ i }}"
      [(ngModel)]="tabs[i].value"
    ></textarea>
    }
  </div>
</div>
