.bar {
  background-color: var(--cream);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  ::selection {
    color: var(--cream);
  }
}

p {
  font-size: 1.5rem;
  margin: 0;
  width: fit-content;
  padding: 5px 20px;
  background-color: var(--coffee);
  color: white;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  p {
    font-size: 1rem;
  }
}
