<app-login-nav-bar></app-login-nav-bar>
<div class="container">
  <div class="inner">
    <div *ngIf="isLoading" class="spinner-container">
      <div class="spinner"></div>
    </div>
    <div class="modal" *ngIf="invalidLink">
      <h3>❌ Link no longer valid</h3>
      <p>Redirecting...</p>
    </div>
    <div *ngIf="success" class="modal">
      <div class="content">
        <h3>✅Successfully changed password</h3>
        <p>Redirecting...</p>
      </div>
    </div>
    <h3>Hello {{username}}!</h3>
    <h4>Change your password</h4>
    <p>(6+ characters long, at <br> least one special character)</p>
    <input
      type="password"
      id="password"
      placeholder="New Password"
      [(ngModel)]="user.newPassword"
    />
    <input
      type="password"
      id="password1"
      placeholder="Confirm Password"
      [(ngModel)]="user.confirmedPassword"
    />
    <button
      (click)="resetPassword()"
      [disabled]="
        user.newPassword.length < 6 || user.newPassword !== user.confirmedPassword
      "
    >
      Reset
    </button>
    <p class="error-message" *ngIf="error">❌ Oops, something went wrong...</p>
  </div>
</div>
