<app-login-nav-bar></app-login-nav-bar>
<div class="container">
  <div class="outer">
    <div class="success-div" *ngIf="success">
      <div class="content">
        <h3>✅Success! A link has been emailed</h3>
        <p>Redirecting...</p>
      </div>
    </div>
    <div *ngIf="isLoading" class="spinner-container">
      <div class="spinner"></div>
    </div>
    <button class="back-btn" (click)="backToLogin()"><-- Back to login</button>
    <input
      type="text"
      placeholder="Username or Email"
      [(ngModel)]="usernameOrEmail"
      (keydown)="resetErrors()"
    />
    <p>
      (If a username or email address is <br> associated with an account, you will <br> be
      emailed a link to reset your password)
    </p>
    <button [disabled]="usernameOrEmail.length < 4" (click)="sendEmail()">
      Enter
    </button>
    <p class="error-message" *ngIf="invalidUser">❌ Unable to find User</p>
    <p class="error-message" *ngIf="badConnection">❌ No connection...</p>
    <p class="error-message" *ngIf="genericError">❌ Oops, something went wrong...</p>
  </div>
</div>
