<app-logout-modal *ngIf="showLogoutModal" (emitFromModal)="handleLogout($event)"></app-logout-modal>
<div class="bar">
  <div class="title-div">
    <p class="welcome">Welcome</p>
    <h2>{{ username }}</h2>
  </div>
  <div class="title-div">
    <h2 class="title" (click)="goHome()">CollabPad</h2>
    <p>by Kieran Mueller</p>
  </div>
  <div class="right-div">
      <img (click)="showSettings = !showSettings" class="settings-icon" src="../../../../setting.png" alt="settings icon">
      <app-settings-dropdown *ngIf="showSettings"></app-settings-dropdown>
      <h2 class="logout" (click)="showLogoutModal = true">Logout</h2>
  </div>
</div>
