.container {
    padding: 15px;
}

textarea {
    width: 90vw;
    height: 60vh;
    background-color: var(--cream);
    color: var(--coffee);
    border: none;
    outline: none;
    padding: 10px;
    &::placeholder {
        color: rgba(128, 128, 128, 0.749);
    }
}

.title {
    display: block;
    text-align: center;
    font-size: 22px;
    padding: 7px;
    background-color: var(--coffee);
    color: white;
    border: none;
    &:focus {
        border: 1px solid white;
    }
}

.title-div {
    display: flex;
    margin-top: 10px;
}

.save-title-btn {
    height: fit-content;
    align-self: flex-end;
    background-color: var(--coffee);
    color: white;
    margin-left: 3px;
    font-size: 12px;
    &:hover {
      background-color: #493227;
    }
}

.share-div {
    display: flex;
    button {
        height: fit-content;
        align-self: center;
        margin-left: 20px;
        background-color: var(--coffee);
        color: white;
        &:hover {
          background-color: #493227;
        }
    }
}

button {
    background-color: var(--cream);
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 3px;
    transition: 0.2s;
    &:hover {
        background-color: #d4d5a5;
    }
}

@media screen and (max-width: 768px) {
    button {
        &:hover {
            background-color: var(--cream);
        }
    }

    .save-title-btn {
      &:hover {
        background-color: var(--coffee);
      }
  }

  .share-div {
    button {
        &:hover {
          background-color: var(--coffee);
        }
    }
}
}
